@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #101827;
}

.font-serif {
    font-family: Times, serif;
}

.font-helvetica {
    font-family: Helvetica, sans-serif;
}